<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="channel">
      <h2 data-cy="channelDetailsHeading"><span jhiTranslate="avvoltoioCheUrlaApp.channel.detail.title">Channel</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ channel.id }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.channel.name">Name</span></dt>
        <dd>
          <span>{{ channel.name }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.channel.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'avvoltoioCheUrlaApp.ChannelTypes.' + channel.type }}">{{ channel.type }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.channel.mod_type">Mod Type</span></dt>
        <dd>
          <span>{{ channel.mod_type }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.channel.emergency">Emergency</span></dt>
        <dd>
          <span>{{ channel.emergency }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/channel', channel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
