<div class="rounded-4 mytitlecard" [routerLink]="['/profile', username]">
  <img [src]="'data:' + account?.img_content_type + ';base64,' + account?.img" class="profilepic" *ngIf="account?.img" alt="Immagine" />
  <span class="user-name">@{{ username }}</span>
</div>
<div class="central" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <div
    jhiObserveElement
    #intersection="intersection"
    [class.example-card--is-intersecting]="intersection._isIntersecting"
    (isIntersecting)="isIntersecting($event)"
    [isContinuous]="true"
    *ngIf="hasMorePage"
  >
    <span> Loading more...</span>
  </div>
  <ng-container *ngFor="let squeal of squeals" class="container">
    <div class="col-10 containing" [class.float-left]="username === squeal?.userName" [class.float-right]="username !== squeal?.userName">
      <div
        class="message-layout rounded-4"
        [class.mybubble]="username !== squeal?.userName"
        [class.hisbubble]="username === squeal?.userName"
      >
        <span class="mymessage">
          {{ squeal.squeal?.body }}
        </span>
        <span class="mytimestamp">
          {{ timeDifference(squeal.squeal?.timestamp) }}
        </span>
      </div>
    </div>
  </ng-container>
</div>

<form class="message rounded-4">
  <div class="form-floating addtext">
    <textarea
      [maxlength]="charsDTO?.remainingChars ?? 0"
      class="form-control rounded-4"
      name="body"
      [(ngModel)]="message"
      placeholder="Leave your squeal here"
      id="floatingTextarea2"
      style="height: 100px"
    ></textarea>
    <label for="floatingTextarea2">write a message</label>
  </div>
  <div class="invia rounded-4" (click)="createSqueal()">Invia</div>
</form>
