@import 'content/scss/bootstrap-variables';

.mytimestamp {
  font-size: small;
  line-height: 2rem;
}
.containing {
  background-color: transparent;
  display: flex;
}
.message-layout {
  color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.img-squeal {
  width: 18rem;
  height: 13rem;
}
.mytitlecard {
  display: flex;
  position: fixed;
  width: 100%;
  width: 98%;
  background-color: $custom-purple;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.user-name {
  padding-left: 1rem;
  color: white;
  font-size: x-large;
  font-weight: bold;
  line-height: 2.7rem;
}

.message {
  position: fixed;
  width: 100%;
  bottom: 3rem;
  margin-top: 1rem;
  display: flex;
  height: 6.3rem;
  margin-bottom: 0px;
}

.profilepic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  border: 2px solid white;
}

.mymessage {
  font-size: larger;
  padding-left: 1rem;
  padding-right: 2rem;
}

.float-right {
  float: right;
  justify-content: end;
}
.float-left {
  justify-content: start;
  float: left;
}
.mybubble {
  background-color: rgb(140, 39, 255);
}
.hisbubble {
  background-color: rgb(55, 135, 255);
}

.addtext {
  flex: 1;
}

.central {
  overflow: scroll;
  bottom: 9.2rem;
  top: 8.5rem;
  position: fixed;
  overflow-x: hidden;
  right: 0rem;
  left: 0rem;
}

.invia {
  background-color: $custom-purple;
  width: 5rem;
  color: white;
  line-height: 6rem;
  font-size: larger;
  font-weight: bold;
  padding-left: 1rem;
}
