<div class="rounded-4 mytitlecard" [routerLink]="['/profile', username]">
  <img
    (error)="setDefaultImage($event)"
    [src]="'data:' + account?.img_content_type + ';base64,' + account?.img"
    class="profilepic"
    *ngIf="account?.img"
    alt="Immagine"
  />
  <span class="user-name">@{{ username }}</span>
</div>
<div class="central" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <div
    jhiObserveElement
    #intersection="intersection"
    [class.example-card--is-intersecting]="intersection._isIntersecting"
    (isIntersecting)="isIntersecting($event)"
    [isContinuous]="true"
    *ngIf="hasMorePage"
  >
    <span> Loading...</span>
  </div>
  <ng-container *ngFor="let squeal of squeals" class="container">
    <div class="col-7 containing" [class.float-left]="username === squeal?.userName" [class.float-right]="username !== squeal?.userName">
      <div
        class="message-layout rounded-4"
        [class.mybubble]="username !== squeal?.userName"
        [class.hisbubble]="username === squeal?.userName"
      >
        <span class="mymessage">
          <div [innerHTML]="sanitize(squeal.squeal?.body ?? '')" class="ps-4 fs-4 fw-light"></div>

          <img
            [src]="'data:' + squeal.squeal?.img_content_type + ';base64,' + squeal.squeal?.img"
            class="img-squeal rounded-4"
            *ngIf="squeal?.squeal?.img && squeal?.squeal?.img != ''"
            alt="Immagine"
          />
          <div *ngIf="squeal.geoLoc" class="map-squeal rounded-4" [id]="'map_' + squeal.squeal?._id?.toString()"></div>
        </span>
        <span class="mytimestamp">
          {{ timeDifference(squeal.squeal?.timestamp) }}
        </span>
      </div>
    </div>
  </ng-container>
</div>

<form class="message rounded-4">
  <div class="form-floating addtext">
    <textarea
      [maxlength]="charsDTO?.remainingChars ?? 0"
      class="form-control rounded-4"
      name="body"
      [(ngModel)]="message"
      placeholder="Leave your squeal here"
      id="floatingTextarea2"
      style="height: 100px"
    ></textarea>
    <label for="floatingTextarea2">write a message</label>
  </div>
  <button class="invia rounded-4" [disabled]="message.length === 0" (click)="createSqueal()">Invia</button>
</form>
