<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-squeal-reaction-heading"
        data-cy="SquealReactionCreateUpdateHeading"
        jhiTranslate="avvoltoioCheUrlaApp.squealReaction.home.createOrEditLabel"
      >
        Create or edit a Squeal Reaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squealReaction.userId" for="field_userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squealReaction.username" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squealReaction.squealId" for="field_squealId">Squeal Id</label>
          <input type="text" class="form-control" name="squealId" id="field_squealId" data-cy="squealId" formControlName="squealId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squealReaction.positive" for="field_positive">Positive</label>
          <input type="checkbox" class="form-check" name="positive" id="field_positive" data-cy="positive" formControlName="positive" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squealReaction.emoji" for="field_emoji">Emoji</label>
          <input type="text" class="form-control" name="emoji" id="field_emoji" data-cy="emoji" formControlName="emoji" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
