<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-channel-heading" data-cy="ChannelCreateUpdateHeading" jhiTranslate="avvoltoioCheUrlaApp.channel.home.createOrEditLabel">
        Create or edit a Channel
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.channel.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.channel.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null"></option>
            <option *ngFor="let channelTypes of channelTypesValues" [value]="channelTypes">{{ channelTypes }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.channel.modType" for="field_modType">Mod Type</label>
          <input type="text" class="form-control" name="modType" id="field_modType" data-cy="modType" formControlName="modType" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.channel.emergency" for="field_emergency">Emergency</label>
          <input type="checkbox" class="form-check" name="emergency" id="field_emergency" data-cy="emergency" formControlName="emergency" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
