<div class="footer fixed-bottom">
  <nav class="navbar navbar-dark navbar-expand-md" style="background-color: crimson">
    <div class="container-fluid row">
      <div class="col-4 text-center">
        <a [routerLink]="''">
          <fa-icon icon="home" [fixedWidth]="true"></fa-icon>
          Home</a
        >
      </div>
      <div class="col-4 text-center">
        <a [routerLink]="'/channels'">
          <fa-icon icon="magnifying-glass" [fixedWidth]="true"></fa-icon>
          Channels
        </a>
      </div>
      <div class="col-4 text-center">
        <a [routerLink]="'/notification'">
          <fa-icon icon="inbox" [fixedWidth]="true"></fa-icon>
          Notification
        </a>
      </div>
    </div>
  </nav>
</div>
