<div *ngIf="account">
  <div class="p-fluid">
    <div class="p-field">
      <label for="field_notificationImage">Immagine</label>
      <div>
        <img [src]="'data:' + account.img_content_type + ';base64,' + account.img" class="profilepic" *ngIf="account.img" alt="Immagine" />

        <div *ngIf="newphoto" class="form-text text-danger clearfix" style="margin-bottom: 1rem; text-align: right">
          <button title="clear" type="button" (click)="clearInputImage()" class="btn btn-danger btn-xs pull-right">
            <fa-icon icon="times"></fa-icon>
          </button>
        </div>
        <button
          *ngIf="!edit && account.login == myAccount?.login"
          class="btn btn-block btn-primary"
          type="button"
          (click)="edit = true"
          title="edit"
        >
          Edit photo
        </button>

        <div class="p-grid" *ngIf="edit">
          <div class="p-col-12">
            <button class="btn btn-block btn-secondary" type="button" (click)="rotateImage()">Ruotare</button>
          </div>
          <div class="p-col-6">
            <button class="btn btn-block btn-primary" type="button" onclick="document.getElementById('file_select').click()">
              Seleziona
            </button>
          </div>
          <div class="p-col-6">
            <button class="btn btn-block btn-success" type="button" onclick="document.getElementById('file_camera').click()">
              Scatta foto
            </button>
          </div>
          <div class="p-col-6" *ngIf="newphoto">
            <button class="btn btn-block btn-success" type="button" (click)="setImage()">OK</button>
          </div>
        </div>

        <input type="file" style="display: none" id="file_select" (change)="setFileData($event)" accept="image/*" />
        <input type="file" style="display: none" capture="camera" id="file_camera" (change)="setFileData($event)" accept="image/*" />
      </div>

                
    </div>
  </div>

  <div style="flex: 1">
    <span>
      {{ this.account.firstName || 'maffeo' }}
      {{ this.account.lastName || 'raggi' }}
      {{ this.account.login || 'gaymaffeo42' }}
      <span style="background-color: red" [routerLink]="['/profile', profileName, 'mychannels']">
        {{ this.nChannels }} channels subscribed to
      </span>
      {{ squealslength }} squeals squealed
    </span>
    <button *ngIf="isVip()" class="btn btn-success" (click)="openSearch()">add a SMM</button>
    <span *ngIf="openmySearch" class="input-group-text" id="inputGroup-sizing-default">SMM</span>
    <div *ngIf="openmySearch" style="flex: 1">
      <p-autoComplete
        [style]="{ width: '100%' }"
        name="destination"
        [minLength]="2"
        [(ngModel)]="smm"
        [suggestions]="results ?? []"
        (completeMethod)="search($event)"
        [multiple]="true"
        field="destination"
      ></p-autoComplete>
      <button [disabled]="!smm" class="btn btn-primary mt-2" type="button" (click)="addSMM()">Invia</button>
    </div>
  </div>
  <jhi-create-squeal (squealed)="createdSqueal()" *ngIf="connectedDestination" [destination]="[connectedDestination]"></jhi-create-squeal>
  <p-dataView #dv [value]="squeals" *ngIf="squeals">
    <ng-template let-s pTemplate="listItem">
      <jhi-squeal-view [squeal]="s"></jhi-squeal-view>
    </ng-template>
  </p-dataView>
</div>
<div *ngIf="!account">you are not logged in</div>
<div
  jhiObserveElement
  #intersection="intersection"
  [class.example-card--is-intersecting]="intersection._isIntersecting"
  (isIntersecting)="isIntersecting($event)"
  [isContinuous]="true"
  *ngIf="hasMorePage"
>
  <span> Loading more...</span>
</div>
