@import 'content/scss/bootstrap-variables';

.message-layout {
  flex: 1;
  padding-left: 1rem;
}

.myname {
  padding: 0px;
  font-size: large;
  font-weight: 600;
  padding-bottom: 0.3rem;
}
.mymessage {
  font-size: larger;
  position: relative;
  display: flex;
}
.mytimestamp {
  line-height: 3.1rem;
  font-size: smaller;
  padding-right: 1.5rem;
}
.mynotify {
  line-height: 3rem;
  text-align: center;
  padding-right: 1rem;
  font-weight: bold;
  font-size: large;
}

.profilepic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid $custom-purple;
  display: block;
  overflow: hidden;
}

.whole {
  display: flex;
  background-color: white;
  margin-top: 1rem;
  padding: 0.3rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.squealbody {
  flex: 1;
  font-size: small;
  padding-left: 1.2rem;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: $custom-purple;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.1rem;
}
