@import 'content/scss/bootstrap-variables';

.message-layout {
  flex: 1;
  padding-left: 1rem;
}

.myname {
  padding: 0px;
  font-size: large;
  font-weight: 600;
  padding-bottom: 0.3rem;
}
.mymessage {
  font-size: larger;
  position: relative;
  display: flex;
}
.mytimestamp {
  line-height: 3.1rem;
  font-size: smaller;
  padding-right: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mynotify {
  line-height: 3rem;
  text-align: center;
  padding-right: 1rem;
  font-weight: bold;
  font-size: large;
}

.profilepic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid $custom-purple;
  display: block;
  overflow: hidden;
}

.truncate {
  width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em; /* Adjust line-height as needed */
  max-height: 3.6em; /* This should be line-height * number of lines you want to show */
  white-space: normal;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

.truncatename {
  width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.whole {
  display: flex;
  border: 2px $custom-purple solid;
  background-color: white;
  margin-top: 1rem;
  padding: 0.3rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.squealbody {
  flex: 1;
  font-size: medium;
  padding-left: 1.2rem;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: $custom-purple;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.1rem;
}
