<ng-container *ngFor="let squeal of getSqueals()">
  <div class="whole rounded-4" [routerLink]="['user', squeal.userName]">
    <div>
      <img
        [src]="'data:' + squeal.userContentType + ';base64,' + squeal.userImg"
        class="profilepic"
        *ngIf="squeal.userImg"
        alt="Immagine"
      />
    </div>
    <div class="message-layout rounded-4">
      <div class="myname rounded-4">@{{ squeal.userName }}</div>
      <div class="mymessage">
        <span class="squealbody">
          <p>{{ squeal.squeal?.body?.split('\n')?.shift() ?? ' ' }}</p>
        </span>
      </div>
    </div>

    <span class="mytimestamp">
      {{ squeal.squeal?.timestamp | date : 'HH:mm dd/MM/yy ' }}
    </span>
    <div class="mynotify rounded-4">{{ notifyMap.get(squeal) }} <span class="dot"></span></div>
  </div>
</ng-container>
