<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="squeal">
      <h2 data-cy="squealDetailsHeading"><span jhiTranslate="avvoltoioCheUrlaApp.squeal.detail.title">Squeal</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ squeal.id }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.user_id">User Id</span></dt>
        <dd>
          <span>{{ squeal.user_id }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.timestamp">Timestamp</span></dt>
        <dd>
          <span>{{ squeal.timestamp }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.body">Body</span></dt>
        <dd>
          <span>{{ squeal.body }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.img">Img</span></dt>
        <dd>
          <div *ngIf="squeal.img">
            <a (click)="openFile(squeal.img, squeal.img_content_type)">
              <img [src]="'data:' + squeal.img_content_type + ';base64,' + squeal.img" style="max-width: 100%" alt="squeal image" />
            </a>
            {{ squeal.img_content_type }}, {{ byteSize(squeal.img) }}
          </div>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.img_name">Img Name</span></dt>
        <dd>
          <span>{{ squeal.img_name }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.video_content_type">Video Content Type</span></dt>
        <dd>
          <span>{{ squeal.video_content_type }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.video_name">Video Name</span></dt>
        <dd>
          <span>{{ squeal.video_name }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.n_characters">N Characters</span></dt>
        <dd>
          <span>{{ squeal.n_characters }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.squeal_id_response">Squeal Id Response</span></dt>
        <dd>
          <span>{{ squeal.squeal_id_response }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.squeal.refresh_time">Refresh Time</span></dt>
        <dd>
          <span>{{ squeal.refresh_time }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/squeal', squeal.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
