<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sMMVIP">
      <h2 data-cy="sMMVIPDetailsHeading"><span jhiTranslate="avvoltoioCheUrlaApp.sMMVIP.detail.title">SMMVIP</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sMMVIP.id }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.sMMVIP.userId">User Id</span></dt>
        <dd>
          <span>{{ sMMVIP.userId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/smmvip', sMMVIP.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
