<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="charactersPurchased">
      <h2 data-cy="charactersPurchasedDetailsHeading">
        <span jhiTranslate="avvoltoioCheUrlaApp.charactersPurchased.detail.title">Characters Purchased</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ charactersPurchased.id }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.charactersPurchased.user_id">User Id</span></dt>
        <dd>
          <span>{{ charactersPurchased.user_id }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.charactersPurchased.n_characters">N Characters</span></dt>
        <dd>
          <span>{{ charactersPurchased.n_characters }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.charactersPurchased.timestamp_bought">Timestamp Bought</span></dt>
        <dd>
          <span>{{ charactersPurchased.timestamp_bought }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.charactersPurchased.timestamp_expire">Timestamp Expire</span></dt>
        <dd>
          <span>{{ charactersPurchased.timestamp_expire }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.charactersPurchased.amount">Amount</span></dt>
        <dd>
          <span>{{ charactersPurchased.amount }}</span>
        </dd>
        <dt><span jhiTranslate="avvoltoioCheUrlaApp.charactersPurchased.admin_discount">Admin Discount</span></dt>
        <dd>
          <span>{{ charactersPurchased.admin_discount }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/characters-purchased', charactersPurchased.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
