<div *ngIf="channel">
  <div class="p-fluid p-1">
    <div class="p-field top_profile">
      <div class="channel-info">
        {{ channel.channel.name }}
      </div>

      <jhi-channel-subscribe class="subscribe" [channel]="channel"></jhi-channel-subscribe>
    </div>
  </div>

  <div class="stats-bar">
    <div [routerLink]="['/channels/subscribed', channel_id]" class="stats rounded-4">{{ this.usersFollowing }} following</div>
    <div (click)="scrollToSqueals()" class="stats rounded-4">{{ squeals.length }} squeals squealed</div>
  </div>

  <div class="buttons">
    <div *ngIf="!openmySearch && isUserSubscribed() && isPrivate()" class="options rounded-4" (click)="openmySearch = true">
      add someone
    </div>
    <div *ngIf="openmySearch && isUserSubscribed() && isPrivate()" class="options rounded-4" (click)="openmySearch = false">close</div>
  </div>

  <jhi-create-squeal (squealed)="createdSqueal()" *ngIf="connectedDestination" [destination]="[connectedDestination]"></jhi-create-squeal>
  <p-dataView #dv [value]="squeals" *ngIf="squeals" id="squeals">
    <ng-template let-s pTemplate="listItem">
      <jhi-squeal-view [squeal]="s"></jhi-squeal-view>
    </ng-template>
  </p-dataView>

  <div
    jhiObserveElement
    #intersection="intersection"
    [class.example-card--is-intersecting]="intersection._isIntersecting"
    (isIntersecting)="isIntersecting($event)"
    [isContinuous]="true"
    *ngIf="hasMorePage"
  >
    <span> Loading more...</span>
  </div>
</div>
