<div class="rounded-4 mytitlecard p-2 m-1">
  {{ channel?.channel?.name }}
</div>
<div [routerLink]="['/channels/subscribed', channel_id]" class="rounded-4 mytitlecard p-2 m-1">{{ usersFollowing }} following</div>
<div class="rounded-4 mytitlecard p-2 m-1">{{ squeals.length }} squeals</div>

<jhi-channel-subscribe [channel]="channel"></jhi-channel-subscribe>

<jhi-create-squeal *ngIf="connectedDestination" [destination]="[connectedDestination]" (squealed)="createdSqueal()"></jhi-create-squeal>
<ng-container *ngFor="let squeal of squeals" class="m-3 p-2 pt-3">
  <jhi-squeal-view [squeal]="squeal"></jhi-squeal-view>
</ng-container>
<div
  jhiObserveElement
  #intersection="intersection"
  [class.example-card--is-intersecting]="intersection._isIntersecting"
  (isIntersecting)="isIntersecting($event)"
  [isContinuous]="true"
  *ngIf="hasMorePage"
>
  <span> Loading more...</span>
</div>
