@import 'content/scss/bootstrap-variables';

.channel-layout {
  border: 2px solid $custom-purple;
  background-color: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 0.25rem;
  height: 5rem;
  display: flex;
  padding-bottom: 4.5rem;
}

.channelname {
  flex: 1;
  font-size: x-large;
  font-weight: 500;
  line-height: 3.3rem;
}
