<span class="badge" [class]="returnColor(channel)">{{ channel?.channel?.type }}</span>
<button class="btn sub btn-subscribe" title="Subscription" *ngIf="!isUserSubscribed(channel)" (click)="sub(channel)" [disabled]="!account">
  <fa-icon icon="square-plus" [fixedWidth]="true" style="font-size: 24px"></fa-icon>
</button>
<button
  class="btn unsub btn-subscribe"
  title="Subscription"
  *ngIf="isUserSubscribed(channel)"
  (click)="confirm(channel)"
  [disabled]="!account"
>
  <fa-icon icon="square-minus" [fixedWidth]="true" style="font-size: 24px"></fa-icon>
</button>
