<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>

<span class="badge" [class]="returnColor(channel)">{{ channel?.channel?.type }}</span>
<button class="btn btn-outline-primary btn-subscribe" title="Subscription" *ngIf="!isUserSubscribed(channel)" (click)="sub(channel)">
  <fa-icon icon="square-plus" [fixedWidth]="true"></fa-icon>
</button>
<button class="btn btn-outline-danger btn-subscribe" title="Subscription" *ngIf="isUserSubscribed(channel)" (click)="confirm(channel)">
  <fa-icon icon="square-minus" [fixedWidth]="true"></fa-icon>
</button>
