<div class="description rounded-4">create a new channel</div>
<div class="input-group everything">
  <form (ngSubmit)="createChannel()" *ngIf="dto">
    <div class="input-group combo">
      <span class="input-group-text" id="basic-addon1">
        <p-toggleButton name="prefix" [(ngModel)]="private" onLabel="§" offLabel="#"></p-toggleButton
      ></span>
      <input
        [(ngModel)]="dto.channel.name"
        name="channel-name"
        type="text"
        class="form-control"
        placeholder="channel name"
        aria-label="channel name placeholder"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="alert alert-danger rounded-3" *ngIf="isIncorrect()" role="alert">Channel name is invalid</div>
    <button type="submit" class="btn rounded-pill" [disabled]="isIncorrect()" *ngIf="!dto.channel._id">Create</button>
  </form>
</div>
