<div class="input-group mb-3">
  <form (ngSubmit)="createChannel()" *ngIf="dto">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <p-toggleButton name="prefix" [(ngModel)]="private" onLabel="§" offLabel="#"></p-toggleButton
      ></span>
      <input
        [(ngModel)]="dto.channel.name"
        name="channel-name"
        type="text"
        class="form-control"
        placeholder="channel name"
        aria-label="channel name placeholder"
        aria-describedby="basic-addon1"
      />
    </div>
    <div style="color: red" *ngIf="isIncorrect()"><small>Channel name is invalid</small></div>
    <button type="submit" class="btn btn-success" [disabled]="isIncorrect()" *ngIf="!dto.channel._id">Create</button>
  </form>
</div>
