@import 'content/scss/bootstrap-variables';

/* notify.component.scss */

.profilepic {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  border: 2px solid $custom-purple;
}

.notif {
  border: 2px solid $custom-purple;
  display: flex;
  padding: 1.5rem;
  margin-bottom: 0.7rem;
  background-color: white;
  padding-bottom: 0rem;
  padding-left: 1rem;
}
.body {
  padding-left: 0.3rem;
  overflow: hidden;
  height: 3rem;
  font-size: medium;
}

.reaction {
  font-size: larger;
}

.timestamp {
  font-size: 1rem;
  font-weight: 300;
  float: right;
  line-height: 2.5rem;
}

.username {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 1rem;
}

.info {
  padding-left: 1rem;
  flex: 1;
}

.notseen {
  background-color: rgb(183, 183, 183);
}

:host ::ng-deep {
  span.clown::before {
    content: '\1F921' !important;
  }
  span.nerd::before {
    content: '\1F913' !important;
  }
  span.bored::before {
    content: '\1F971' !important;
  }
  span.heart::before {
    content: '\2764' !important;
  }
  span.exploding::before {
    content: '\1F92F' !important;
  }
  span.cold::before {
    content: '\1F976' !important;
  }
}
