<div *ngFor="let notification of this.notifications">
  <div class="notif rounded-4" [class.notseen]="notification.isRead">
    <img
      [src]="'data:' + notification?.profile_img_content_type + ';base64,' + notification?.profile_img"
      class="profilepic"
      *ngIf="notification?.profile_img"
      alt="Immagine"
    />
    <div class="info">
      <div class="username">@{{ notification.username }}</div>
      <div class="body">{{ notification.body }}</div>
    </div>
    <div class="timestamp">{{ timeDifference(notification.timestamp) }}</div>
  </div>
</div>

<div
  jhiObserveElement
  #intersection="intersection"
  [class.example-card--is-intersecting]="intersection._isIntersecting"
  (isIntersecting)="isIntersecting($event)"
  [isContinuous]="true"
  *ngIf="hasMorePage"
>
  <span> Loading more...</span>
</div>
