<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-squeal-heading" data-cy="SquealCreateUpdateHeading" jhiTranslate="avvoltoioCheUrlaApp.squeal.home.createOrEditLabel">
        Create or edit a Squeal
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.user_id" for="field_userId">User Id</label>
          <input type="text" class="form-control" name="user_id" id="field_userId" data-cy="user_id" formControlName="user_id" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.timestamp" for="field_timestamp">Timestamp</label>
          <input type="number" class="form-control" name="timestamp" id="field_timestamp" data-cy="timestamp" formControlName="timestamp" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.body" for="field_body">Body</label>
          <input type="text" class="form-control" name="body" id="field_body" data-cy="body" formControlName="body" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.img" for="field_img">Img</label>
          <div>
            <img
              [src]="'data:' + editForm.get('img_content_type')!.value + ';base64,' + editForm.get('img')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('img')!.value"
              alt="squeal image"
            />
            <div *ngIf="editForm.get('img')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('img_content_type')!.value }}, {{ byteSize(editForm.get('img')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('img', 'img_content_type', 'file_img')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_img" data-cy="img" (change)="setFileData($event, 'img', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="img" id="field_img" data-cy="img" formControlName="img" />
          <input type="hidden" class="form-control" name="img_content_type" id="field_imgContentType" formControlName="img_content_type" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.img_name" for="field_imgName">Img Name</label>
          <input type="text" class="form-control" name="img_name" id="field_imgName" data-cy="img_name" formControlName="img_name" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.video_content_type" for="field_videoContentType"
            >Video Content Type</label
          >
          <input
            type="text"
            class="form-control"
            name="video_content_type"
            id="field_videoContentType"
            data-cy="video_content_type"
            formControlName="video_content_type"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.video_name" for="field_videoName">Video Name</label>
          <input
            type="text"
            class="form-control"
            name="video_name"
            id="field_videoName"
            data-cy="video_name"
            formControlName="video_name"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.n_characters" for="field_n_characters">N Characters</label>
          <input
            type="number"
            class="form-control"
            name="n_characters"
            id="field_n_characters"
            data-cy="n_characters"
            formControlName="n_characters"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.squeal_id_response" for="field_squealIdResponse"
            >Squeal Id Response</label
          >
          <input
            type="text"
            class="form-control"
            name="squeal_id_response"
            id="field_squealIdResponse"
            data-cy="squeal_id_response"
            formControlName="squeal_id_response"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="avvoltoioCheUrlaApp.squeal.refresh_time" for="field_refreshTime">Refresh Time</label>
          <input
            type="number"
            class="form-control"
            name="refresh_time"
            id="field_refreshTime"
            data-cy="refresh_time"
            formControlName="refresh_time"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
