<div>
  <h2 id="page-heading" data-cy="ChannelUserHeading">
    <span jhiTranslate="avvoltoioCheUrlaApp.channelUser.home.title">Channel Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="avvoltoioCheUrlaApp.channelUser.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-channel-user"
        [routerLink]="['/channel-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="avvoltoioCheUrlaApp.channelUser.home.createLabel"> Create a new Channel User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="channelUsers?.length === 0">
    <span jhiTranslate="avvoltoioCheUrlaApp.channelUser.home.notFound">No Channel Users found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="channelUsers && channelUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="avvoltoioCheUrlaApp.channelUser.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="channelId">
            <div class="d-flex">
              <span jhiTranslate="avvoltoioCheUrlaApp.channelUser.channelId">Channel Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="privilege">
            <div class="d-flex">
              <span jhiTranslate="avvoltoioCheUrlaApp.channelUser.privilege">Privilege</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let channelUser of channelUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/channel-user', channelUser.id, 'view']">{{ channelUser.id }}</a>
          </td>
          <td>{{ channelUser.userId }}</td>
          <td>{{ channelUser.channelId }}</td>
          <td jhiTranslate="{{ 'avvoltoioCheUrlaApp.PrivilegeType.' + channelUser.privilege }}">{{ channelUser.privilege }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/channel-user', channelUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/channel-user', channelUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(channelUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
