<form *ngIf="dto?.squeal" class="message bg-gradient rounded-4 m-3 p-3">
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Destinations</span>
    <div style="flex: 1">
      <p-autoComplete
        [style]="{ width: '100%' }"
        name="destinations"
        [minLength]="2"
        [(ngModel)]="destinations"
        [suggestions]="results ?? []"
        (completeMethod)="search($event)"
        [multiple]="true"
      ></p-autoComplete>
    </div>
  </div>
  <div class="form-floating">
    <textarea
      [maxlength]="charsDTO?.remainingChars ?? 0"
      class="form-control"
      name="body"
      [(ngModel)]="message"
      placeholder="Leave your squeal here"
      id="floatingTextarea2"
      style="height: 100px"
    ></textarea>
    <label for="floatingTextarea2">body</label>
  </div>
  <div style="display: flex">
    <div style="flex: 1">
      <button class="btn btn-primary mt-2" type="button" (click)="createSqueal()">Invia</button>
      <p *ngIf="getRemainingChars() <= 0">hai finito i characters del {{ getType() }}</p>
      <button class="btn btn-warning mt-2" type="button" *ngIf="getRemainingChars() <= 0">Compra</button>
    </div>
    <p>{{ getRemainingChars() }} chars left</p>
  </div>

  <div class="p-fluid">
    <div class="p-field">
      <label for="field_notificationImage">Immagine</label>
      <div>
        <img
          [src]="'data:' + dto?.squeal?.imgContentType + ';base64,' + dto?.squeal?.img"
          style="width: 100%"
          *ngIf="dto?.squeal?.img"
          alt="Immagine"
        />
        <div *ngIf="dto?.squeal?.img" class="form-text text-danger clearfix" style="margin-bottom: 1rem; text-align: right">
          <span class="pull-right" style="color: white">{{ dto?.squeal?.imgContentType }}, {{ byteSize(dto?.squeal?.img) }}</span>
          <button title="clear" type="button" (click)="clearInputImage()" class="btn btn-danger btn-xs pull-right">
            <fa-icon icon="times"></fa-icon>
          </button>
        </div>

        <div class="p-grid">
          <div class="p-col-12" *ngIf="dto?.squeal?.img">
            <button class="btn btn-block btn-secondary" type="button" (click)="rotateImage()">Ruotare</button>
          </div>
          <div class="p-col-6">
            <button class="btn btn-block btn-primary" type="button" onclick="document.getElementById('file_select').click()">
              Seleziona
            </button>
          </div>
          <div class="p-col-6">
            <button class="btn btn-block btn-success" type="button" onclick="document.getElementById('file_camera').click()">
              Scatta foto
            </button>
          </div>
        </div>

        <input type="file" style="display: none" id="file_select" (change)="setFileData($event)" accept="image/*" />
        <input type="file" style="display: none" capture="camera" id="file_camera" (change)="setFileData($event)" accept="image/*" />
      </div>
    </div>
  </div>
</form>
