<form *ngIf="dto?.squeal">
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Destination</span>
    <div style="flex: 1">
      <p-autoComplete
        [style]="{ width: '100%' }"
        name="destinations"
        [minLength]="2"
        [(ngModel)]="destinations"
        [suggestions]="results ?? []"
        (completeMethod)="search($event)"
        [multiple]="true"
      ></p-autoComplete>
    </div>
  </div>
  <div class="form-floating">
    <textarea
      class="form-control"
      name="body"
      [(ngModel)]="message"
      placeholder="Leave your squeal here"
      id="floatingTextarea2"
      style="height: 100px"
    ></textarea>
    <label for="floatingTextarea2">body</label>
  </div>
  <button class="btn btn-primary" type="button" (click)="createSqueal()">Invia</button>
</form>
