<form *ngIf="dto?.squeal" class="message bg-gradient rounded-4 p-3">
  <div class="input-group mb-3">
    <div style="flex: 1">
      <p-autoComplete
        [style]="{ width: '100%' }"
        name="destination"
        [minLength]="2"
        [(ngModel)]="destination"
        [suggestions]="results ?? []"
        (completeMethod)="search($event)"
        [multiple]="true"
        field="destination"
        placeholder="Destinations"
        [multiple]="true"
        (onSelect)="onSelect($event)"
      ></p-autoComplete>
    </div>
  </div>

  <div class="form-floating">
    <textarea
      [maxlength]="charsDTO?.remainingChars ?? 100"
      class="form-control bg-light rounded-top-4"
      name=" body"
      [(ngModel)]="message"
      id="floatingTextarea2"
      style="height: 130px"
    ></textarea>
    <label for="floatingTextarea2">body : {{ getRemainingChars() }} left</label>

    <div class="p-fluid">
      <div class="p-field">
        <div>
          <img
            [src]="'data:' + dto?.squeal?.img_content_type + ';base64,' + dto?.squeal?.img"
            style="width: 100%"
            *ngIf="dto?.squeal?.img"
            alt="Immagine"
          />

          <div [hidden]="!geo" class="geo" [id]="'map_create'">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <input type="file" style="display: none" id="file_select" (change)="setFileData($event)" accept="image/*" />
          <input type="file" style="display: none" capture="camera" id="file_camera" (change)="setFileData($event)" accept="image/*" />
        </div>
      </div>
    </div>
    <div class="alert alert-danger error-char" role="alert" *ngIf="getRemainingChars() <= 0">
      <div style="flex: 1">
        <button class="btn rounded-pill btn-warning" type="button" (click)="makePayment()">
          <span *ngIf="!loading">Compra</span>
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
      <div>
        <span style="font-size: 70%; margin-left: 0.5rem; font-weight: bold">limite {{ getType() }} raggiunto</span>
      </div>
    </div>
    <div class="bottom-div rounded-bottom-4">
      <div style="flex: 1">
        <div>
          <button
            type="button"
            class="btn rounded-pill btn-primary"
            (click)="createSqueal()"
            [disabled]="destination.length == 0 || disablePost"
          >
            <span *ngIf="!disablePost">Post</span>
            <span *ngIf="disablePost" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="button-group">
        <button *ngIf="dto?.squeal?.img" title="Rotate" class="btn btn-block" type="button" (click)="clearInputImage()">
          <fa-icon icon="xmark" [fixedWidth]="true"></fa-icon>
        </button>
        <button *ngIf="dto?.squeal?.img" title="Rotate" class="btn btn-block" type="button" (click)="rotateImage()">
          <fa-icon icon="rotate-right" [fixedWidth]="true"></fa-icon>
        </button>

        <button
          *ngIf="geo && !isResponse"
          title="Toggle Refresh"
          class="btn btn-block"
          type="button"
          (click)="this.geoLoc.refresh = !this.geoLoc.refresh"
        >
          <fa-icon icon="arrows-rotate" [fixedWidth]="true" *ngIf="!this.geoLoc.refresh"></fa-icon>
          <fa-icon icon="xmark" [fixedWidth]="true" *ngIf="this.geoLoc.refresh"></fa-icon>
        </button>
        <button *ngIf="!isResponse" title="toggle geolocalizazione" class="btn btn-block" type="button" (click)="addGeo()">
          <fa-icon icon="map-location-dot" [fixedWidth]="true"></fa-icon>
        </button>
        <button class="btn btn-block" title="scatta foto" type="button" onclick="document.getElementById('file_camera').click()">
          <fa-icon icon="camera" [fixedWidth]="true"></fa-icon>
        </button>

        <button class="btn btn-block" title="seleziona immagine" type="button" onclick="document.getElementById('file_select').click()">
          <fa-icon icon="folder-open" [fixedWidth]="true"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</form>
<p *ngIf="paymentUrlResponse != null">Attendere redirect a {{ paymentUrlResponse.url }} per il pagamento</p>

<form name="pf" #pf ngNoForm style="display: none" method="post" [action]="paymentUrlResponse.url" *ngIf="paymentUrlResponse">
  <ng-template ngFor let-param [ngForOf]="paymentUrlResponse.parameters">
    <input type="hidden" [name]="param.name" [value]="param.value" />
  </ng-template>
  <button type="submit" [hidden]="'true'"></button>
</form>
