@import 'content/scss/bootstrap-variables';

.badge {
  color: white !important ;
}

.channel-layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.btn-subscribe {
  padding: 2px 4px 2px 4px;
}
.btn-subscribe:hover {
  color: white;
}
.big-button {
  border-radius: 50%;
  background-color: $custom-purple;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: fixed;
  right: 2.2rem;
  bottom: 4rem;
  height: 5rem;
  width: 5rem;
}

.big-button i {
  margin: 0; /* Adjusts icon alignment if needed */
}

.search {
  border: 4px solid $custom-purple;
  height: 4rem;
  padding: 0px;
  margin-bottom: 0.7rem;
}

:host ::ng-deep {
  .p-dataview .p-dataview-content {
    background-color: transparent;
    border: 0 none;
    padding: 0;
  }

  .p-dataview .p-dataview-header {
    display: none;
    background: #f8f9fa;
    color: #343a40;
    border: 1px solid #dee2e6;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
  }
}
