.badge {
  color: white !important ;
}

.channel-layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.btn-subscribe {
  padding: 2px 4px 2px 4px;
}
.btn-subscribe:hover {
  color: white;
}

.search {
  background-color: #ff473d;
  padding: 2px;
}

:host ::ng-deep .p-button {
  position: fixed;
  right: 10px;
  bottom: 50px;
  font-size: 18px;
  font-weight: bolder;
}
