<div *ngIf="squeal" style="padding-top: 0px" class="rounded-bottom-5 rounded-top-4 mt-3 mb-2">
  <div class="message bg-gradient rounded-4">
    <div class="squeal-layout pb-2 head-message">
      <img
        [routerLink]="['/profile', squeal.userName]"
        [src]="'data:' + squeal.userContentType + ';base64,' + squeal.userImg"
        class="profilepic"
        *ngIf="squeal.userImg"
        alt="Immagine"
        (error)="setDefaultImage($event)"
      />
      <div class="username fw-semibold fs-5" [routerLink]="['/profile', squeal.userName]">@{{ squeal.userName }}</div>
      <div>{{ timeDifference(squeal.squeal?.timestamp) }}</div>
    </div>
    <div class="squeal-layout pt-0 pb-1 head-message">
      <div style="flex: 1">
        <ng-container style="size-adjust: 40%" *ngFor="let d of squeal.squeal?.destination">
          <p-chip [label]="d.destination ?? 'destinationerror'" (click)="redirect(d)"></p-chip>
        </ng-container>
      </div>
    </div>
    <div [innerHTML]="innerBody" class="ps-4 fs-4 fw-light"></div>
    <div>
      <img
        [src]="'data:' + squeal.squeal?.img_content_type + ';base64,' + squeal.squeal?.img"
        class="img-squeal rounded-4"
        *ngIf="squeal?.squeal?.img && squeal?.squeal?.img != ''"
        alt="Immagine"
      />
      <div *ngIf="squeal.geoLoc" class="map-squeal rounded-4" [id]="'map_' + squeal.squeal?._id?.toString()"></div>
    </div>
    <div class="response rounded-4" *ngIf="response_squeal && !isReply">
      <jhi-squeal-view [isReply]="true" [squeal]="response_squeal"></jhi-squeal-view>
    </div>
    <div class="stats">
      <div (click)="reply = !reply" class="rispondi_squeal">Rispondi allo Squeal</div>

      <div style="margin-right: 1rem">{{ squeal.squeal?.n_characters }} characters</div>

      <div>{{ squeal.views?.number }} views</div>
    </div>
    <div class="emoji-layout">
      <div style="flex: 1">
        <div style="padding-left: 1.3rem">
          <p-speedDial [model]="reactions" direction="right" type="linear" class="speeddial" ariaLabel="reactions"> </p-speedDial>
        </div>
      </div>
      <div style="padding-right: 0.5rem">
        <ng-container *ngFor="let r of squeal.reactions">
          <span [class]="isActive(r.reaction)" [class]="r.reaction"></span>
          <span class="emoji-number">{{ r.number }}</span>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="reply rounded-4" *ngIf="reply && !squealed">
    <jhi-create-squeal
      [destination]="connectedDestination"
      [isResponse]="true"
      (squealed)="onSquealed($event)"
      [response]="squeal.squeal?._id?.toString()"
    ></jhi-create-squeal>
  </div>
</div>
