<div class="message bg-gradient rounded-4 m-3" *ngIf="squeal">
  <div class="squeal-layout pb-2 head-message">
    <div class="username fw-semibold fs-5" [routerLink]="['/profile', squeal.userName]">@{{ squeal.userName }}</div>
    <div>{{ squeal.squeal?.timestamp | date : 'HH:mm dd/MM/yy ' }}</div>
  </div>
  <div class="squeal-layout pt-0 pb-3 head-message">
    <div style="flex: 1">
      <ng-container style="size-adjust: 50%" *ngFor="let d of squeal.squeal?.destination">
        <p-chip [label]="d.destination ?? 'aaa'" (click)="redirect(d)"></p-chip>
      </ng-container>
    </div>
    <div>{{ squeal.squeal?.n_characters }} characters</div>
  </div>
  <hr class="m-0" />
  <div class="ps-4 pt-3 fs-4 fw-light">
    {{ squeal.squeal?.body }}
  </div>
  <div>
    {{ squeal.squeal?.video_content_type }}
    {{ squeal.squeal?.video_name }}
    <img
      [src]="'data:' + squeal.squeal?.img_content_type + ';base64,' + squeal.squeal?.img"
      style="width: 100%"
      *ngIf="squeal?.squeal?.img && squeal?.squeal?.img != ''"
      alt="Immagine"
    />
  </div>
  <hr />
  <div class="squeal-layout pt-0">
    <div style="flex: 1">
      <div class="pb-1">
        <p-speedDial [model]="reactions" [radius]="60" direction="right" type="semi-circle" buttonClassName="p-button-success">
        </p-speedDial>
      </div>
      <div style="padding-left: 6rem">
        <ng-container *ngFor="let r of squeal.reactions">
          <span [class]="isActive(r.reaction)" [class]="r.reaction">{{ r.number }}</span>
        </ng-container>
      </div>
    </div>
    <div>{{ squeal.views?.number }} views</div>
  </div>
</div>
